@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    /* align-items: center;
    justify-content: center; */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container{
    background: hsl(0, 0%, 100%);
    align-items: center;
    padding: 25px;
    border-radius: 18px;
    width: 400px;
    height: auto;
    margin-top: 140px;
    margin-left: 450px;
    box-shadow: 1px 1px 20px hsl(216, 15%, 48%);
    margin-bottom: 15px;
}

.container-img img{
    width: 350px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.container-txt h2{
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
    font-weight: 700;
}

.container-txt p{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    margin-bottom: 15px;
}
